nav ul li{
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

.jumbotron, header{
    margin:0;
}

.navbar-dark .navbar-toggler{
    color:rgba(255,255,255,1);
}

body{
    font-family: 'Montserrat', sans-serif;
    background:url("imgs/full-bloom.png");
}

span{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size:1.7rem;


}

p{
    font-weight:400;
    font-size:1.3rem;
}

h1, h2, h3{
    font-family: 'Oleo Script Swash Caps', cursive;

}

section{
    margin-bottom:100px;
}

section:nth-of-type(even){
    background:#895442;
    color:#FFF;
}

.row{
    display:block;
}

/**NAVBAR**/

.navbar{
    background:rgba(226,173,179, 0.8);
    text-shadow: 2px 2px 4px #6B5256;
    
}

a.navbar-brand img{
    width: 200px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size:1.5rem;
    color:rgba(255,255,255, 1);
    padding-right:80px;
}

/**HEADER**/

.jumbotron{
    height:100vh;
    padding:0;
    background:url("imgs/header.jpg") no-repeat;
    background-size: cover;
    background-position:center;
    text-align:center;
}

h1, h2{
    color:#FFF;
    text-shadow: 2px 2px 4px rgb(124, 124, 124);
    flex:1 100%;

}

header div{
    padding:10px;
}

header h1{
    font-size:1.7rem;
}

header h2{
    font-size:1.4rem;
}

/**ABOUT**/

#about img{
    width:90%;
}

#about{
    color:#895442;
    text-align:center;
}

#about span{
    color:#FF9797;
}



/**TEAM**/

#team{
    padding:20px;
    text-align:center;
}

#team .col-lg-6{
    margin-bottom:70px;
}

#team h3{
    margin-top:70px;
}

#team h4{
    font-weight:600;
}

#team img{
    width:150px;
    height:150px;
    margin-right:20px;
    margin-bottom:10px;
}

#team .d-flex{
    display:block!important;
}

.lead{
    margin-bottom:40px;
}

/**GRID PH0TOS**/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .wrapper img{
        object-fit: cover;
        width:100%;
        height:100%;
    }
    
    
    .a { grid-area: 1 / 1 / 3 / 2; }
    .b { grid-area: 1 / 2 / 2 / 4; }
    .c { grid-area: 2 / 2 / 3 / 3; }
    .d { grid-area: 2 / 3 / 3 / 4; }

    /** TESTIMONIALS**/

    #testimonials p{
        font-size: 1.3rem;
        padding-left:10px;
    }

    #testimonials{
        text-align:center;
    }

    #testimonials span{
        font-size:2.4rem;
    }

    #testimonials i{
        font-size:2rem;
        padding-right:10px;
    }

    blockquote{
        margin-bottom:50px;
    }

    blockquote footer{
        padding-top:0;
        text-align: right;
        font-weight:600;
        font-size:1.5rem;
    }

    blockquote p{
        border-left:20px solid #FFF;
    }

    /**PLAN**/

    #plan{
        color:#895442;
        font-size:1.3em;
        text-align:center;
        margin:auto;
        padding-bottom:100px;
    }

    form input, form textarea{
        margin:auto;
    }

    #plan h3{
        margin-bottom:50px;
    }

    #plan form{
        margin-bottom:50px;
    }

    form, label, input{
        display:block;
    }

    form label{
        font-weight:600;
        font-size:1.5rem;
    }

    form input{
        margin-bottom:20px;
    }

    form input, form textarea{
        width:90%;
        background:#FFD4CA;
        color:#895442;
        border: solid #BC7E6D 1px;
        padding:10px;
    }

    #plan h5{
        font-weight:600;
        font-size:1.5rem;
    }

    #plan a{
        color:#895442;
    }

    #plan img{
        width:90%;
    }


    /**FOOTER**/

    footer{
        background:#895442;
        padding:50px 50px 30px 50px;
        color:#FFF;
        width:100%;
        text-align:center;
    }

    footer p{
        font-size:1rem;
    }

    footer img{
        width: 200px;
        margin-bottom:30px;
    }

    footer nav ul li{
        font-size:1.5rem;
    }
    
    footer a{
        color:white;
    }

    footer a:hover{
        text-decoration: none;
        color:#FFF;
    }


    




    /**MEDIA QUERIES**/

@media only screen and (min-width:600px){
    #team .d-flex{
        display:flex!important;
        text-align:left;
    }

    header h1{
        font-size:2rem;
    }

    header h2{
        font-size:1.7rem;
    }
}

@media only screen and (min-width:768px){
    #about .col-md-6{
        order:1;
    }

    #about .col-md-5{
        order:2;
    }

    #about p{
        font-size:1rem;
    }

    #about{
        text-align:left;
    }

    .row{
        display:flex;
    }



    footer nav ul li{
        font-size:1.3rem;
    }

    footer{
        text-align:left;
    }

    .align-self-start{
        text-align:right;
    }

    header h1{
        font-size:2.5rem;
    }

    header h2{
        font-size:2.2rem;
    }

   
}



@media only screen and (min-width:992px){
    .navbar{
        background:none;
    }

    .navbar-dark .navbar-nav .nav-link{
        font-size:2rem;

    }


    body{min-height:200vh;}

    .navbar-default{
        transition:500ms ease;
        background:transparent;
    }

    .navbar-default.scrolled{
    background:rgba(226,173,179, 0.8);
    }

    #about p{
        font-size:1.3rem;
    }

    #plan .row{
        display:flex;
    }

    #plan{
        text-align:left;
    }

    form input, form textarea{
        margin-left:0;
    }

    header h1{
        font-size:3rem;
    }

    header h2{
        font-size:2.7rem;
    }

}